body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.header {
  background-color: transparent;
  top: 0;
  z-index: 1000;
}

.header-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 70px;
  position: relative;
}




.logo {
  position: relative;
  z-index: 1;
}

.logo img {
  height: 100px;        /* ✅ Réduction de la taille */
  margin-top: -20px;    /* ✅ Ajuste selon l'effet désiré */
}


.nav-links {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 30px;
}

.nav-links a {
  margin-left: 20px;
   font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 500;
  line-height: 70px;
  transition: all 0.3s ease; /* ✅ important pour lisser l'effet */
}


.nav-links a:hover {
  color: #007bff;
  transform: scale(1.1); /* ✅ effet agrandissement */
}

