body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.header {
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 70px;
  position: relative;
}




.logo {
  position: relative;
  z-index: 1;
}

.logo img {
  height: 250px;
  display: block;
  margin-top: -85px; /* 🔥 plus de décalage */
}


.nav-links {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 30px;
}

.nav-links a {
  margin-left: 20px;
  font-family: 'Inter', sans-serif;

  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s;
  line-height: 70px; /* vertical align */
}

.nav-links a:hover {
  color: #007bff;
}
