body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  width: 100%;
  padding-top: 0;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  height: 650px;
  padding-left: 80px;
  box-sizing: border-box;
}

.text-content {
  flex: 1;
  min-width: 300px;
  margin-bottom: 20px;
  margin-top: 70px;
  box-sizing: border-box;
}

.text-content h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 10px;
}

.text-content .intro,
.text-content .first-name,
.text-content .last-name {
  color: #2946d0;
}

.text-content h2 {
  font-size: 40px;
  font-weight: 700;
  color: black;
  margin: 20px 0;
  border-bottom: none;
}

.text-content p {
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.6;
  color: black;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.buttons img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}


.btn {
  padding: 12px 24px;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 14px;
  display: inline-block;
}

.btn.primary {
  background-color: white;
  color: white;
}

.btn.primary:hover {
  background-color:  #eaeaea;
}

.btn.secondary,
.btn.download {
  background-color: white;
  color: black;
}

.btn.secondary:hover,
.btn.download:hover {
  background-color: #eaeaea;
}

.btn.download .icon {
  margin-right: 6px;
}

.image-content {
  flex: 1;
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content img {
  filter: drop-shadow(0 0 10px rgba(0, 100, 255, 0.4));
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  max-width: 100%;
  height: auto;
}



@media (max-width: 1041px) {
  .text-content {
    margin-top: 160px;
  }

  .main-content {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}


@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-content {
    text-align: center;
    margin-top: 60px;
  }

  .buttons {
    justify-content: center;
  }

  .image-content {
    margin-top: -80px; 
    margin-left: 20px;
  }

  .image-content img {
    max-width: 300px;
  }
}

