body {
  font-family: 'Inter', sans-serif;
}

.hero-section {
  width: 100%;
  padding: 80px 0;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.text-content {
  flex: 1;
  min-width: 300px;
}

.text-content h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 10px;
}

.text-content .intro,
.text-content .first-name,
.text-content .last-name {
  color: #2946d0;
}

.text-content h2 {
  font-size: 40px;
  font-weight: 700;
  color: black;
  margin: 20px 0;
}

.text-content p {
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.6;
  color: black;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 24px;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 14px;
  display: inline-block;
}

.btn.primary {
  background-color: #2946d0;
  color: white;
}

.btn.primary:hover {
  background-color: #8d53e0;
}

.btn.secondary,
.btn.download {
  background-color: white;
  color: black;
}

.btn.secondary:hover,
.btn.download:hover {
  background-color: #eaeaea;
}

.btn.download .icon {
  margin-right: 6px;
}

.image-content {
  flex: 1;
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content img {
  max-width: 300px;
  object-fit: cover;
  border-radius: 20px;
}
